
        body {
            background-image: linear-gradient(to right,rgb(241, 43, 215) ,rgb(21, 230, 91));
        }
        
        .logo {
            width: 90px;
          border-radius: 50;
        }
        
            